@inherits LayoutComponentBase
@using WellandPoolLeagueMud.Components.Buttons
@inject ISnackbar Snackbar

<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <MudAvatar Size="Size.Medium" Variant="Variant.Filled" Color="Color.Transparent" Elevation="2">
            <MudImage Src="Images/appicon.png" Fluid="true" />
        </MudAvatar>
        <MudText Typo="Typo.h5" Class="ml-3">Welland Pool League</MudText>
        <MudSpacer />
        @if (!string.IsNullOrEmpty(Username))
        {
            <MudText Typo="Typo.subtitle1" Class="mr-2">Hello, @Username</MudText>
        }
        &nbsp;
        <MudTooltip Text="Only League Admins need to log in." Placement="Placement.Bottom">
            <LoginButton />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4" Style="margin-top: 20px; margin-bottom: 50px;">
        <MudPaper Class="pa-5 ma-2" Elevation="2">
            @if (Roles == "League_Admin" || Roles == "Super_User")
            {
                <MudAlert Severity="Severity.Info" Elevation="25" Variant="Variant.Filled" Dense="true" Class="text-center">
                    You are logged in as an Admin user. Be careful when editing data.
                    <br />
                    There is no deleting allowed, contact Chris Wiley if something needs to be removed.
                </MudAlert>
            }
            <br/>
            @Body
        </MudPaper>
    </MudMainContent>
    <MudAppBar Bottom="true" Elevation="2" Dense="true">
        <MudSpacer />
        <MudText Typo="Typo.caption" Class="text-center">
            &copy; 2025 Welland Pool League
        </MudText>
        <MudDivider DividerType="DividerType.Inset" />
        &nbsp;
        <MudText Typo="Typo.caption" Align="Align.Center">Developed and Maintained by <MudLink Href="https://chriswiley.codersden.com" Typo="Typo.caption">Chris Wiley</MudLink></MudText>
        &nbsp
        <MudDivider DividerType="DividerType.Inset" />
        <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" />
        <MudText Typo="Typo.caption">udBlazor</MudText>
        <MudSpacer />
    </MudAppBar>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@*Required*@
<MudThemeProvider @ref="@provider" @bind-IsDarkMode="@useDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code {
    // Authentication
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private List<Auth0Users> users = [];
    private AuthenticationState? state { get; set; }

    private string Username = "Anonymous";
    private string UserId = "";
    private string Email = "";
    private string Roles = "";

    private bool _drawerOpen = true;

    private bool useDarkMode;
    private MudThemeProvider provider = new();

    protected override async void OnInitialized()
    {
        //Authentication
        if (authenticationState is not null)
        {
            state = await authenticationState;
            if (state.User.Identity is not null)
            {
                Username = state.User.Identity.Name ?? string.Empty;
                UserId = state.User.Claims
                    .Where(c => c.Type.Equals(@"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"))
                    .Select(c => c.Value)
                    .FirstOrDefault() ?? string.Empty;

                // Remove Auth0 prefix


                Email = state.User.Claims
                    .Where(c => c.Type.Equals(@"https://wpl.codersden.com/email"))
                    .Select(c => c.Value)
                    .FirstOrDefault() ?? string.Empty;

                Roles = state.User.Claims
                    .Where(c => c.Type.Equals(@"https://wpl.codersden.com/roles"))
                    .Select(c => c.Value)
                    .FirstOrDefault() ?? string.Empty;
            }
            StateHasChanged();
        }
        base.OnInitialized();
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            useDarkMode = await provider.GetSystemDarkModeAsync();
            await provider.WatchSystemDarkModeAsync(OnSystemPreferenceChanged);
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnSystemPreferenceChanged(bool newValue)
    {
        useDarkMode = newValue;
        StateHasChanged();
        await Task.CompletedTask;
    }
}